*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    min-height: 100vh;
}
.page{
    display: flex;
    flex-direction: column;
}
.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top: 40px;
    float: left;
    left: 0px;
}
.logo img{
    width: 250px;

}
.ellipse-1{
    right: 0;
    position: absolute;
    z-index: -1;
}
.ellipse-1 img{
    z-index: -1;
    width: 500px;
}
.ellipse-2{
    position: absolute;
    z-index: -1;
}
.ellipse-2 img{
    width: 500px;
}
.photo{
    width: 450px;
    position: absolute;
    top: -420px;
}
.photo img{
    width: 71.1%;
    height: auto;
    margin-left: 120px;
    z-index: 3;
    position: absolute;
}
.content{
    z-index: 1;
    padding-top: 180px;
}
.content h1{
    color: rgba(4, 43, 87, 1);
    font-family: 'Roboto', sans-serif;
}
.content p{
    color: rgb(109, 131, 160);
    font-family: 'Roboto', sans-serif;
}
.buttons button{
    display: block;
    margin-bottom: 30px;
    /*width: 460px;*/
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: 0.5px solid rgb(228, 232, 236);
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgb(185, 185, 185);
}
.buttons button:hover{
    border: 0.5px solid rgb(136, 52, 243);
}
.buttons button img{
    float: right;
    width: 35px;
    margin-right: 10px; 
}
.buttons button p{
    float: left;
    margin-left: 50px;
    font-size: 16px;
    color: rgb(38, 69, 112);
    font-weight: bold;
    margin-top: 2px;
}
.contacts{
    margin-left: 100px;
    margin-top: 55px;
}
.contacts img{
    width: 30px;
    height: 30px;
    margin-right: 25px;
    cursor: pointer;
    transition: transform .5s;
}
.contacts img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.rectangle{
    position: relative;
    height: 220px;
    width: 100%;
    margin-top: 55px;
    background: linear-gradient(106.58deg, #C258F8 1.66%, #981FFC 88.43%);
    z-index: 1;
}
.shadow{
    border-radius: 50%;
    width: 290px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.349);
    z-index: 2;
    position: absolute;
    margin-left: 160px;
    margin-top: 20px;
    filter: blur(10px);
}
.floating{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating{
    0%{transform: translate(0, 0px);}
    50%{transform: translate(0, 15px);}
    100%{transform: translate(0, -0px);}
}
.rectangle .figure-floating{
    width: 140px;
    float: right;
    margin-right: 130px;
    margin-top: 80px;
    overflow: hidden;
    animation: floating 3s ease-in-out infinite;
}
.rectangle p{
    color: rgba(244, 226, 255, 1);
    text-align: center;
    padding-top: 140px;
    font-family: 'Roboto', sans-serif;
    margin-left: 200px;
    font-size: 16px;
}
@media (max-width: 1024px){
    .logo{
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: auto;
        padding-left: 60px;
    }
    .rectangle{
        margin-top: 702px;
    }
    .rectangle p {
        display: none;
    }
    .rectangle .figure-floating{
        margin-right: 10px;
    }
    .page {
        flex-direction: column-reverse;
    }
    .container{
        display: block;
        width: auto;
    }
    .contacts{
        margin-bottom: 55px;
    }
} 
@media only screen and (max-width: 1000px){
    body{
        overflow-y: visible;
    }
    .ellipse-1 img{
        width: 350px;
    }
    .ellipse-2 img{
        width: 350px;
    }
}
@media only screen and (max-width: 700px){
    body{
        overflow-y: visible;
    }
    .ellipse-1 img{
        width: 180px;
    }
    .ellipse-2 img{
        width: 180px;
    }
}
